# 1. Variables

In [3]:
#Declaring variables
x=22
y="Mint Chocolate"
print(x,y)

22 Mint Chocolate

In [5]:
# if we now decide to assigny another value it will take that value and let go of the one it had before 
y="Mint Chocolate"
y="vanilla"
print(y)

vanilla

In [6]:
#Assigning multiple variables to multiple values
x,y,z= "Snella", 'Chouella', 'Minor'
print(x,y,z)

Snella Chouella Minor

In [8]:
#Assigning multiple variables the same value 
x=y=z='Snella Chouella Minor'
print(x)
print(y)
print(z)

Snella Chouella Minor
Snella Chouella Minor
Snella Chouella Minor

In [9]:
# our first list
siblings_name=['Snella', 'Chouella', 'Minor']
print(siblings_name)

['Snella', 'Chouella', 'Minor']

In [12]:
# we can add a string to a string when declaring an variable but never a string to an integer  
x='My Name is ' + 'Chouella'
print(x)
#We can do the same to an Integer
y= 4+4
print (y)
# we are also able to combine a string and an integer by a comma 
x='Hi there I am '
y= 25
z="this year"
print(x,y,z)

My Name is Chouella
8
Hi there I am  25 this year

# 2. Data Types in Python

In [15]:
# Numeric(Integers,float,complex numbers)
# An Integer is a Whole number including negatif and positif numbers 
type(12-12+0)

int

In [14]:
# float
type(-12.0)

float

In [16]:
#Complex
type(-12j)
#j is the only one that will work used as imaginary number if you use another one like c it will give you an error .

complex

In [19]:
#Boolean True or False and the T for True has to be capital letter 
type(True)
type(1>5) # it will return bool because it is telling us whether 1>5 or not

bool

In [21]:
# Sequence type (String ,tuples,lists)
#Strings
'Single Quote'
"Double quote"
x="""
My God is an Awesome God he reigns forever

"""
print(x)

My God is an Awesome God he reigns forever

In [22]:
type(x) #it will tell you that it is a  string

str

In [31]:
# Strings can be indexed  you can search through it 
x= 'chouella is the prettiest'
print(x[2:6])
print(x[5:6])
print(x[:6])
#x*3
#x+x

ouel
l
chouel

'chouella is the prettiestchouella is the prettiest'

In [40]:
#lists are amazing bcz they store multiple values represented by[]
#A lists is also Indexed
# A lists doesn't have to contain only one data typ it can containe bothe integers and strings
[1,2,3]
['snella','Chouella','Minor']
['snella',29]
['chouella',25]
['Minor',22]
Siblings_age=[['snella',28,'snella',29,'chouella',25], True ] 
print(Siblings_age)
# this is also a NestedList
# we have combined multiple data type in the list

[['snella', 28, 'snella', 29, 'chouella', 25], True]

In [38]:
siblings_name=['snella','Chouella','Minor']
siblings_name.append ('Audry')
print(siblings_name)

['snella', 'Chouella', 'Minor', 'Audry']

In [39]:
# we can change the value inside the list

siblings_name[1]=' Chouella Remesha'
print(siblings_name)

['snella', ' Chouella Remesha', 'Minor', 'Audry']

In [44]:
#Nested list the first index is 0 and is a list inside a list 
#When we call index 0 of the list the whole first list will appear 
siblings_age=[['snella',28,'snella',29,'chouella',25], True ]
print(siblings_age[0])

['snella', 28, 'snella', 29, 'chouella', 25]

In [45]:
#calling a list inside a list 
print(siblings_age[0][1])

28

In [47]:
#tuples represented by () 
# Difference between a list and a tuple is that a tuple is immutable meaning 
#it cannot be modified or changed after it is created
tuple_siblings=('snella','chouella','minor')
tuple_siblings

('snella', 'chouella', 'minor')

In [49]:
tuple_number=(1,2,3)
tuple_number

(1, 2, 3)

In [50]:
#tuples can also be indexed but can not be changed 
# people like to use tuples when the value is never going to change like a city, a country 
tuple_siblings[2]

'minor'

In [ ]:
# sets they use {}
#sets are like lists but the difference is that they don't have any duplicate
# the values inside the sets cannot be accessed using index bcz it is actually unodered 
# we can still loop through using a for loop but can't access it through indexing
set_number={1,2,4}

In [51]:
set_number_log={1,2,4,31,4,5,6,2,1,87}
set_number_log
# it's going to give you the numbers ordered and not repeated

{1, 2, 4, 5, 6, 31, 87}

In [1]:
#it will combine the two sets unique values c'est pour eviter de repeter des chiffres
# And it orders it 
ma_moyenne={12,13,16,18,15,12.15}
myriam_moyenne = {12,10,7,15,10,16,5}
print(ma_moyenne | myriam_moyenne )

{5, 7, 10, 12.15, 12, 13, 15, 16, 18}

In [53]:
print(ma_moyenne & myriam_moyenne )
# iyi iguha values in a and values in b meaning what you share

{16, 10, 12}

In [58]:
ma_moyenne={12,13,16,18,15,12.15}
myriam_moyenne = {12,10,7,15,10,16,5}
print(ma_moyenne - myriam_moyenne )# this will show us what doesn't match

{18, 12.15, 13}

In [59]:
ma_moyenne={12,13,16,18,15,12.15}
myriam_moyenne = {12,10,7,15,10,16,5}
print(ma_moyenne ^ myriam_moyenne )
# this will show if a value is in one or the other not in both
# so these values are unique only to each of those sets

{5, 7, 10, 12.15, 13, 18}

In [63]:
#dictionaries 
#also uses {}
#Key/value Pair is what a dictionary has to identify what dos that value represent 
dict_siblings={'name' :'snella', 'age' : 29, 'children':['shaka', 'Gatoni']}
# in this example name and age are key value Pair  
dict_siblings

{'name': 'snella', 'age': 29, 'children': ['shaka', 'Gatoni']}

In [65]:
dict_siblings.values()#this will simply give you the values of the dictionary not including the keys

dict_values(['snella', 29, ['shaka', 'Gatoni']])

In [66]:
dict_siblings.keys()#this will give you all the keys

dict_keys(['name', 'age', 'children'])

In [67]:
dict_siblings.items()# this will give you the values and keys in the dictionary paired

dict_items([('name', 'snella'), ('age', 29), ('children', ['shaka', 'Gatoni'])])

In [68]:
#you can't call a dictionary with index you have to call it with keys
# that is one of the difference btn a dict and a list 
dict_siblings['name']

'snella'

In [69]:
dict_siblings['name']= 'Remesha Chouella'
print(dict_siblings)

{'name': 'Remesha Chouella', 'age': 29, 'children': ['shaka', 'Gatoni']}

In [70]:
print(dict_siblings['name'])

Remesha Chouella

In [73]:
# to update
dict_siblings.update({'name' :'snella', 'age' : 29, 'children':['shaka', 'Gatoni'],'weight': 89})
print(dict_siblings)

{'name': 'snella', 'age': 29, 'children': ['shaka', 'Gatoni'], 'weight': 89}

In [74]:
#to delete
del dict_siblings['weight']
print( dict_siblings)

{'name': 'snella', 'age': 29, 'children': ['shaka', 'Gatoni']}

# 3.Comparison, Logical and Membership

In [75]:
 10 == 10

True

In [76]:
x="Vanilla"
y="chocolat"
x != y

True

In [77]:
#logical (and,or,not, null)
(10>50) and (10<50)# both has to be true

False

In [78]:
(10<50) or ('vanilla'> 'chocolat')# at least one has to be true

False

In [79]:
not(50>10)

False

In [81]:
# membership Operators(in,not in)
# we can also check for list 
ice_cream="I love ice cream"

'love' in ice_cream # basically checks if love is included in ice_cream

True

In [82]:
'ice ' not in ice_cream

False

In [84]:
scoops=[1,2,3,4,5]
wanted_scoops=7
wanted_scoops not in scoops

True

# 4. If-elif-Else Statement

In [95]:
time='22:00';
if(time< '22:00'):
    print ("it isnot yet time to sleep")
elif (time == '22:00') or (time<='21:59'):
    print('time to sleep')
elif(time =='23:00'):
        print('So what time is it')
if  (time>='22:00'):# nested if can't use elif in nested if
    print('past time')
else :
        print("it's about that time")

time to sleep
past time

# 5.For Loop

In [3]:
# A for loop is used to iterate over a sequence it can be a list, a tuple 
#An array ,a string or even a dictionary 
integer=[1,2,3,4,5,6]
for x in integer:
    print('Jesus is the king ')

Jesus is the king
Jesus is the king
Jesus is the king
Jesus is the king
Jesus is the king
Jesus is the king

In [4]:
integer=[1,2,3,4,5,6]
for x in integer:
    print(x)

1
2
3
4
5
6

In [5]:
# this is when we want to loop through only values if we wanted keys we would use keys

dict_siblings={'name':'snella','age': 29, 'children' :['Gatoni','shaka']}
for i in dict_siblings.values():
    print(i)

snella
29
['Gatoni', 'shaka']

In [8]:
#here we wanted to loop through both keys and values that is why we use items 
dict_siblings={'name':'snella','age': 29, 'children' :['Gatoni','shaka']}
for key ,values in dict_siblings.items():
    print(key,'->',values)

name -> snella
age -> 29
children -> ['Gatoni', 'shaka']

# 5.1 Nested For Loop

In [9]:
# a loop inside a loop
flavors=['vanilla', 'chocolate','strawberry']
toppings=['hotFudge', 'oreos', 'Marshmallows']
for i in flavors:
    for y in toppings:
        print(i, 'topped with', y)

vanilla topped with hotFudge
vanilla topped with oreos
vanilla topped with Marshmallows
chocolate topped with hotFudge
chocolate topped with oreos
chocolate topped with Marshmallows
strawberry topped with hotFudge
strawberry topped with oreos
strawberry topped with Marshmallows

# 6.While loop in python

In [12]:
# the difference btn a for loop and a while loop is that a for loop is going to loop through the sequence regardless of a conditon 
#but a while loop will loop  through a sequence as long as a sequence is met once the condition is not  met  the code will stop and will not iterate through the rest
# while loop is like a counter 
number=0
while number <= 5:
    print(number)
    number=number+1

0
1
2
3
4
5

# 6.1 A Break Statement

In [13]:
# with the break statement we can stop the loop even if the condition is true 
number=0
while number <= 5:
    print(number)
    if number == 3:
        break
    number=number+1

0
1
2
3

In [14]:
# we can use an else statement which will work if the condition is not longer true 
number=0
while number <= 5:
    print(number)
    if number == 6:
        break
    number=number+1
else:
    print("No longer < = 6 ")

0
1
2
3
4
5
No longer < = 6

In [35]:
# Now let's look at the continue  
number=0
while number < 5:
    number=number+1
    if number == 3:# this is read if and only if the number is ==3
        continue 
    print(number)
else: # iyi iyisome if and only if  the code is no longer true 
        print("No longer < = 5 ")
        # A revoir

1
2
4
5
No longer < = 5

# 7.Functions

In [36]:
def first_fun():# defining our function
    print ("We did it ")#body of the function

In [37]:
first_fun()# calling the function
# to see the function rinning you have to call the function

We did it

In [38]:
# passing an argument into a function
def number_squared(number):
    print(number**2) # this will take the number to the power of 2

In [39]:
number_squared(4)

16

In [41]:
# to specify the power 
def number_squared_cust(number, power):# we have two arg 
    print(number**power)

In [43]:
number_squared_cust(5,3) # it means 4 to the power of 3
# we have to pass two argument

125

In [44]:
# arbitrary arguments
def number_args(*number):# *args,number is arbitrary argument when you don't want know  how many argument you will pass you it could be 5 or 1000
    print(number[0]*number[1])

In [45]:
number_args(5,6,7,8,9)

30

In [47]:
#another way is we can declare the args before in a variable 
tuple_args=(5,6,7,8,9)
def number_args(*number):# *args,number is arbitrary argument when you don't want know  how many argument you will pass you it could be 5 or 1000
    print(number[0]*number[1])

In [48]:
number_args(*tuple_args)# you have to specify a * before for it to work

30

In [49]:
#Keyword Argument this is used to just specify when calling the function specify what they are to have more power over them 
def number_squared_cust(number, power):# we have two arg 
    print(number**power)

In [50]:
number_squared_cust(power=3, number=6) # this is how keyword argument is used

216

In [57]:
#arbitrary key word args you have to use two **
def number_kwarg(**number):
    print('My number is ' + number['integer'] +'and ' + 'My other number is '+number['integer2'])

In [58]:
number_kwarg(integer= '345' , integer2= '234')

My number is 345and My other number is 234

# 9.Converting data types in python

In [59]:
x='7'
type(x)

str

In [60]:
# to convert to int
num_conv= int(x)

In [62]:
type(num_conv)

int

In [63]:
#converting a list to a tuple
list_mine=[1,2,3,4]
type(tuple(list_mine))

tuple

In [64]:
dict_siblings={'name' :'snella', 'age' : 29, 'children':['shaka', 'Gatoni']}

In [66]:
# converting dict.keys to list
type(list(dict_siblings.keys()))

list